*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container{
    background-color: whitesmoke;
    border-radius: 7px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}